body {
  text-align: center;
  background-color: black;
  height: 100vh
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  margin:  5%;
  color: #FEF2BF;
}

.container {
display: flex;
flex-shrink: 1;
justify-content: center;
align-items: center;
flex-direction: column;


 /* display: block; */


 /* display:grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr; */


 /* width: 50%; */
  margin: auto;

}

.top {
  display: flex;
  flex-shrink: 1;
  max-width: 100%;
}

.bottom {
  display: flex;
  flex-shrink: 1;
  max-width: 100%;
}

/* .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  grid-area: 1 / 1 / 1 / 2;
  grid-column: span 2;
} */

/* .bottom {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  grid-area: 2 / 1 / 2 / 2;
  grid-column: span 2;
} */

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

span {
  font-size: 4vw;
  margin-top: 10px;
}


@media (max-width: 700px) {
  body {
    height: 100dvh;
  }

  h1 {
    padding-top: 50px;
    font-size: 5vw;
  }

  .container {
    margin-top: 25%;
    width: 100%
  }
}
